RedirectPermanent JEEDOM_Fibaro_WallPlug.html https://jealg.github.io/documentation/widget_archive/fr_FR/WIDGET_d_Multi_action_Defaut.html

RedirectPermanent JEEDOM_Lampe.html https://jealg.github.io/documentation/widget_archive/fr_FR/WIDGET_d_Multi_action_Defaut.html

RedirectPermanent JEEDOM_Chaudiere_Activation.html hhttps://jealg.github.io/documentation/widget_archive/fr_FR/WIDGET_d_Multi_action_Defaut.html